<div class="container m-auto overflow-auto">
  <form
    #form="ngForm"
    (ngSubmit)="onSubmit(form)"
    class="row justify-content-center"
  >
    <div class="col-12 col-md-5 col-xl-4 my-5">
      <!-- Heading -->
      <h1 class="display-4 text-center mb-3">
        Password reset
      </h1>

      <!-- Subheading -->
      <p class="text-muted text-center mb-5">
        Enter your new Password
      </p>

      <!-- Password -->
      <div class="form-group">
        <!-- Label -->
        <div class="row">
          <label class="col">
            New Password
          </label>

          <label class="col-auto">
            <ion-text
              class="strength-level"
              [ngClass]="
              passwordStrength === 'Strong'
            ? 'text-success'
          : passwordStrength === 'Medium'
          ? 'text-warning'
          : 'text-danger'
          "
              >{{ passwordStrength }}
            </ion-text>
          </label>
        </div>
        <!-- Input group -->
        <div class="position-relative">
          <!-- Input -->
          <input
            name="user_password"
            [(ngModel)]="user_password"
            (keyup)="onChangePassword()"
            #p="ngModel"
            required
            type="{{showPass ? 'text' : 'password'}}"
            class="form-control"
            minlength="6"
            [ngClass]="{ 'is-invalid':!p.valid && (!p.pristine || form.submitted)}"
          />

          <!-- Icon -->
          <i
            (click)="showPassword()"
            class="password-eye fa"
            [ngClass]="{'fa-eye': !showPass, 'fa-eye-slash': showPass}"
          ></i>
        </div>
      </div>

      <!-- Password -->
      <div class="form-group">
        <!-- Label -->
        <label>
          Password Confirmation
        </label>

        <!-- Input group -->
        <div class="position-relative">
          <!-- Input -->
          <input
            name="password_confirmation"
            [(ngModel)]="user_password_confirmation"
            #p2="ngModel"
            required
            type="{{showPass2 ? 'text' : 'password'}}"
            class="form-control"
            minlength="6"
            [ngClass]="{
              'is-invalid': (!p2.valid && (!p2.pristine || form.submitted)) || (p2.value !== p.value && (!p2.pristine || form.submitted))
            }"
          />

          <!-- Icon -->
          <i
            (click)="showPassword2()"
            class="password-eye fa"
            [ngClass]="{'fa-eye': !showPass2, 'fa-eye-slash': showPass2}"
          ></i>
        </div>
      </div>

      <!-- Submit -->
      <button
        *ngIf="!proccessing"
        type="submit"
        class="btn btn-lg btn-block btn-primary mb-3"
      >
        Reset Password
      </button>

      <button
        *ngIf="proccessing"
        class="btn btn-lg btn-block btn-primary mb-3"
        type="button"
        disabled
      >
        <span
          class="spinner-border spinner-border-sm"
          role="status"
          aria-hidden="true"
        ></span>
        Loading...
      </button>
      <!-- Link -->
      <div class="text-center">
        <small class="text-muted text-center">
          Remember your password?
          <a href="javascript:;" [routerLink]="['/sign-in']">Sign In</a>.
        </small>
      </div>
    </div>
    <!-- / .row -->
  </form>
</div>
