<div class="container m-auto overflow-auto">
  <div class="row justify-content-center">
    <div class="col-12">
      <h1 class="display-4 text-center mb-3">
        Forgot Password
      </h1>
    </div>
    <ul [hidden]="show" class="nav nav-tabs nav-overflow header-tabs">
      <li class="nav-item">
        <a data-toggle="tab" href="#Email" class="nav-link active">
          Email
        </a>
      </li>
      <li class="nav-item">
        <a data-toggle="tab" href="#Phone" class="nav-link">
          Phone
        </a>
      </li>
      <li class="nav-item">
        <a data-toggle="tab" href="#Alias" class="nav-link">
          Alias
        </a>
      </li>
    </ul>
    <div class="col-12">
      <div class="tab-content w-100">
        <!-- General -->
        <div class="tab-pane fade show active" id="Email">
          <div class="row justify-content-center">
            <form
              #form="ngForm"
              (ngSubmit)="onSubmit(form)"
              *ngIf="!show;  else confirmation"
              class="col-12 col-md-5 col-xl-4 my-5"
            >
              <!-- Subheading -->
              <p class="text-muted text-center mb-5">
                Enter your email to get a password reset link.
              </p>

              <!-- Form -->
              <div>
                <!-- Email address -->
                <div class="form-group">
                  <!-- Label -->
                  <label>Email Address</label>

                  <!-- Input -->
                  <input
                    pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{1,}[.]{1}[a-zA-Z]{2,}"
                    name="email"
                    [(ngModel)]="email"
                    #e="ngModel"
                    required
                    class="form-control"
                    [ngClass]="{ 'is-invalid':!e.valid && (!e.pristine || form.submitted)}"
                  />
                </div>

                <!-- Submit -->
                <button
                  *ngIf="!proccessing"
                  type="submit"
                  class="btn btn-lg btn-block btn-primary mb-3"
                >
                  Submit
                </button>

                <button
                  *ngIf="proccessing"
                  class="btn btn-lg btn-block btn-primary mb-3"
                  type="button"
                  disabled
                >
                  <span
                    class="spinner-border spinner-border-sm"
                    role="status"
                    aria-hidden="true"
                  ></span>
                  Loading...
                </button>
                <!-- Link -->
                <div class="text-center">
                  <small class="text-muted text-center">
                    Remember your password?
                    <a href="javascript:;" [routerLink]="['/sign-in']"
                      >Sign In</a
                    >.
                  </small>
                </div>
              </div>
            </form>
          </div>
        </div>

        <div class="tab-pane fade" id="Phone">
          <div class="row justify-content-center">
            <form
              #phoneForm="ngForm"
              (ngSubmit)="onPhoneSubmit(phoneForm)"
              *ngIf="!show; else confirmation"
              class="col-12 col-md-5 col-xl-4 my-5"
            >
              <!-- Subheading -->
              <p class="text-muted text-center mb-5">
                Enter your Phone Number to get a password reset link.
              </p>

              <!-- Form -->
              <div>
                <div class="form-group">
                  <!-- Label -->
                  <label>Phone Number</label>

                  <!-- Input -->
                  <input
                    type="text"
                    name="phone"
                    [(ngModel)]="phone"
                    #p="ngModel"
                    required
                    class="form-control"
                    (keydown)="valudateNumber($event)"
                    [ngClass]="{
                  'is-invalid':!p.valid && (!p.pristine ||
                  phoneForm.submitted)}"
                  />
                </div>

                <!-- Submit -->
                <button
                  *ngIf="!phoneProccessing"
                  type="submit"
                  class="btn btn-lg btn-block btn-primary mb-3"
                >
                  Submit
                </button>

                <button
                  *ngIf="phoneProccessing"
                  class="btn btn-lg btn-block btn-primary mb-3"
                  type="button"
                  disabled
                >
                  <span
                    class="spinner-border spinner-border-sm"
                    role="status"
                    aria-hidden="true"
                  ></span>
                  Loading...
                </button>
                <!-- Link -->
                <div class="text-center">
                  <small class="text-muted text-center">
                    Remember your password?
                    <a href="javascript:;" [routerLink]="['/sign-in']"
                      >Sign In</a
                    >.
                  </small>
                </div>
              </div>
            </form>
          </div>
        </div>

        <div class="tab-pane fade" id="Alias">
          <div class="row justify-content-center">
            <form
              #aliasForm="ngForm"
              (ngSubmit)="onAliasSubmit(aliasForm)"
              *ngIf="!show;  else confirmation"
              class="col-12 col-md-5 col-xl-4 my-5"
            >
              <!-- Subheading -->
              <p class="text-muted text-center mb-5">
                Enter your alias to get a password reset link.
              </p>

              <!-- Form -->
              <div>
                <div class="form-group">
                  <!-- Label -->
                  <label>Alias</label>

                  <!-- Input -->
                  <input
                    type="text"
                    name="alias"
                    [(ngModel)]="alias"
                    #a="ngModel"
                    required
                    class="form-control"
                    [ngClass]="{ 'is-invalid':!a.valid && (!a.pristine || aliasForm.submitted)}"
                  />
                </div>

                <!-- Submit -->
                <button
                  *ngIf="!proccessing"
                  type="submit"
                  class="btn btn-lg btn-block btn-primary mb-3"
                >
                  Submit
                </button>

                <button
                  *ngIf="proccessing"
                  class="btn btn-lg btn-block btn-primary mb-3"
                  type="button"
                  disabled
                >
                  <span
                    class="spinner-border spinner-border-sm"
                    role="status"
                    aria-hidden="true"
                  ></span>
                  Loading...
                </button>
                <!-- Link -->
                <div class="text-center">
                  <small class="text-muted text-center">
                    Remember your password?
                    <a href="javascript:;" [routerLink]="['/sign-in']"
                      >Sign In</a
                    >.
                  </small>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- / .row -->
<ng-template #confirmation>
  <div class="col-12 col-md-6 my-5">
    <div class="list-group-item py-7">
      <div class="row">
        <div class="col-12">
          <div class="success-checkmark">
            <div class="check-icon">
              <span class="icon-line line-tip"></span>
              <span class="icon-line line-long"></span>
              <div class="icon-circle"></div>
              <div class="icon-fix"></div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <h3 class="text-center">
            Please check you email, for a link to reset you password
          </h3>
        </div>
      </div>
    </div>
  </div>
</ng-template>
