.mt-60 {
  margin-top: 60px;
}

.img-div {
  background-image: url('/assets/img/covers/home-image.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: inherit;
  background-size: cover;
  background-color: #464646;
  min-height: 500px;
}
